@model GameData
<style>
.homepage{
    font-size:2vw;
    text-decoration:none;
    color:white;
}
.btn{
    height:10vh;
    width:10vw;
}
</style>

@if (Model.isWon)
{
    <h1>@Model.msg</h1>
    <h3>Вы выбили @Model.bulls быка</h3>
    <h3>Ходы = @Model.turns</h3>
}
else
{
    <h1>@Model.msg</h1>
    <h2>Ваш счет:-</h2>
    <h3>Быки = @Model.bulls</h3>
    <h3>Коровы = @Model.cows</h3>
    <h3>Ходы = @Model.turns</h3>
    <a class="homepage" asp-area="" asp-controller="Game" asp-action="GamePage">
    <button class="btn btn-primary">
       retry
    </button>
    </a>
    
}